body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#scoreboard {
    margin-top: 20px;
}

.team-score {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.team-score span {
    flex-basis: 100%;
    margin-bottom: 10px;
}

.team-score input {
    width: 40px;
    text-align: center;
    margin-bottom: 5px;
}

.total {
    flex-basis: 100%;
    font-weight: bold;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .team-score input {
        width: 30px;
    }
}
