body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#scoreboard {
    margin-top: 20px;
}

.team-score {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.team-score input {
    width: 50px;
    text-align: center;
}
